<section class="p-4 space-y-6 py-15 bg-background-secondary">
    <h2 class="text-center font-bold text-4xl py-8">Nuestras Sucursales</h2>
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-4 md:px-6 place-items-center">
        <div class=" bg-white border border-gray-400 w-full md:w-full lg:w-full h-150 ">
            <div class="w-full h-50 bg-amber-300  ">
                <img src="branch1.webp" alt="" class="h-full w-full object-cover ">
            </div>

            <div class="p-4 grid gap-4 h-100">
                <h3 class="text-primary text-2xl">Sucursal Santa Cruz</h3>

                <div class="flex items-center space-x-2">
                    <span class=" material-symbols-outlined  text-primary">
                        location_on
                    </span>
                    <p class="font-light text-lg">Av. Errázuriz 1109, Santa Cruz</p>
                </div>
                <span class="border border-gray-200 py-1 px-2 text-gray-700 font-semibold">Estacionamiento Propio</span>
                <button class="bg-primary text-white py-2">Llamar</button>
                <button class="border border-primary py-2">Como Llegar</button>
            </div>
        </div>

        <div class=" bg-white border border-gray-400 w-full md:w-full lg:w-full h-150">
            <div class="w-full h-50 bg-amber-300">
                <img src="branch1.webp" alt="" class="h-full w-full object-cover">
            </div>
            <div class="p-4 grid gap-4 h-100">
                <h3 class="text-primary text-2xl">Sucursal San Fernando</h3>
                <div class="flex items-center space-x-2">
                    <span class=" material-symbols-outlined  text-primary">
                        location_on
                    </span>
                    <p class="font-light text-lg flex space-x-4 items-center">

                        Avenida Ohiggins 374, Santa Cruz
                    </p>
                </div>

                <span class="border border-gray-200 py-1 px-2 text-gray-700 font-semibold">Estacionamiento Propio</span>
                <button class="bg-primary text-white py-2">Llamar</button>
                <button class="border border-primary py-2">Como Llegar</button>
            </div>
        </div>

        <div class=" bg-white border border-gray-400 w-full md:w-full lg:w-full h-150">
            <div class="w-full h-50 bg-amber-300">
                <img src="branch_servicio_automotriz.webp" alt="" class="h-full w-full object-cover">
            </div>
            <div class="p-4 grid gap-4 h-100">
                <h3 class="text-primary text-2xl">Servicio Automotriz - San Fernando</h3>

                <div class="flex items-center space-x-2">
                    <span class=" material-symbols-outlined  text-primary">
                        location_on
                    </span>
                    <p class="font-light text-lg">Avenida Ohiggins 239, San Fernando</p>
                </div>
                <span class="border border-gray-200 py-1 px-2 text-gray-700 font-semibold">Estacionamiento Propio</span>
                <button class="bg-primary text-white py-2">Llamar</button>
                <button class="border border-primary py-2">Como Llegar</button>
            </div>
        </div>
    </div>

</section>