<section class="p-4 space-y-6 py-15 bg-background-secondary font-ibm">
  <h2 class="text-center font-bold text-4xl py-8 font-title">Nuestras Sucursales</h2>

  <div class="flex justify-center">
    <span
      class="border border-r-0 p-2 cursor-pointer"
      (click)="selectCommune('santa-cruz')"
      [class.bg-primary]="selectedCommune === 'santa-cruz'"
      [class.text-white]="selectedCommune === 'santa-cruz'"
    >
      Santa Cruz
    </span>
    <span
      class="border border-r-0 p-2 cursor-pointer"
      (click)="selectCommune('san-fernando')"
      [class.bg-primary]="selectedCommune === 'san-fernando'"
      [class.text-white]="selectedCommune === 'san-fernando'"
    >
      San Fernando
    </span>
    <span
      class="border p-2 cursor-pointer"
      (click)="selectCommune('rengo')"
      [class.bg-primary]="selectedCommune === 'rengo'"
      [class.text-white]="selectedCommune === 'rengo'"
    >
      Rengo (Próximamente)
    </span>
  </div>

  @if (currentBranches.length > 0) {
    <div
      class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-4 md:px-6 place-items-center lg:max-w-6xl mx-auto"
    >
      @for (branch of currentBranches; track branch.name) {
        <div class="bg-white border border-gray-400 w-full">
          <div class="w-full h-40">
            <img src="branch1.webp" alt="" class="h-full w-full object-cover" />
          </div>

          <div class="p-4 h-90 flex flex-col">
            <!-- Nombre -->
            <div class="h-16 flex items-start">
              <h3 class="text-primary text-2xl font-subtitle font-semibold">
                {{ branch.name }}
              </h3>
            </div>

            <!-- Dirección -->
            <div class="h-20 flex items-start space-x-2">
              <span class="material-symbols-outlined text-primary"> location_on </span>

              <p class="font-light text-lg">
                {{ branch.address }}
              </p>
            </div>

            <!-- Estacionamiento -->
            <div class="h-16 flex items-center">
              @if (branch.parking) {
                <span class="border border-gray-200 py-1 px-2 text-gray-700 font-semibold">
                  Estacionamiento Propio
                </span>
              }
            </div>

            <!-- Botones -->
            <div class="flex flex-col space-y-3 mt-auto">
              <button class="bg-primary text-white py-2">Llamar</button>

              <button class="border border-primary py-2">Como Llegar</button>
            </div>
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="h-110 flex items-center justify-center">
      <p>No hay sucursales disponibles.</p>
    </div>
  }
</section>
