<section
  class="relative w-full min-h-[90vh] lg:min-h-[90vh] flex items-center bg-inverse-surface overflow-hidden"
>
  <div class="absolute inset-0 z-0">
    <img src="hero2.webp" alt="" class="w-full h-full object-cover opacity-100 mix-blend-overlay" />
    <div
      class="absolute inset-0 bg-black/70 lg:bg-transparent lg:bg-gradient-to-r lg:from-zinc-950 lg:via-inverse-surface/60 to-transparent"
    ></div>
  </div>
  <div class="relative z-10 w-full lg:w-full px-12 text-white space-y-8">
    <span class="font-mono">Especialistas en Automoción</span>
    <h1 class="text-3xl lg:text-6xl font-bold max-w-56 md:max-w-250 font-title">
      Tu aliado experto en <span class="">Repuestos</span> <br />
      y <span class="">Servicio Automotriz</span>
    </h1>
    <p class="font-ibm text-lg text-white font-light max-w-prose">
      Repuestos José Díaz ofrece repuestos y accesorios automotrices multimarca en la Región de
      O’Higgins, con sucursales en Rengo, San Fernando y Santa Cruz, destacando por su calidad,
      confianza y precios competitivos.
    </p>

    <div class="flex flex-col space-y-4 md:flex-row md:space-x-4 md:space-y-0">
      <button class="bg-white text-primary px-8 py-2 text-lg rounded-sm">
        Nuestras Sucursales
      </button>
      <button class="border-2 border-white py-2 rounded-sm md:px-8">Ver Servicios</button>
    </div>
  </div>
</section>
