<section class="p-6 bg-background py-15">
    <h3 class="font-mono text-primary text-center uppercase font-semibold">Calidad garantizada</h3>
    <h2 class="font-bold text-2xl text-center">Marcas que nos acompañan</h2>

    <div
        class="grid grid-cols-2 p-6 gap-6 md:place-items-center lg:flex lg:justify-center lg:space-x-8 lg:items-center py-12">
        <div class="">
            <img src="brands/brand-nissan.png" alt="" class="w-32">
        </div>
        <div class="flex items-center justify-center">
            <img src="brands/brand-ford.png" alt="" class="w-32">
        </div>
        <div class="flex items-center justify-center">
            <img src="brands/brand-isuzu.png" alt="" class="w-32">
        </div>
        <div class="flex items-center justify-center">
            <img src="brands/brand-chevrolet.png" alt="" class="w-32 object-contain">
        </div>
    </div>
</section>