<section class="px-4 py-6 space-y-6 ">
    <div class="flex flex-col lg:flex-row lg:justify-between space-y-6 ">
        <div class="">
            <h3 class="font-mono text-primary  uppercase font-semibold">Catálogo</h3>
            <h2 class="font-bold  text-4xl ">Productos Destacados</h2>
            <p>
                Componentes con rendimiento destacado
            </p>
        </div>

        <button class="border border-gray-300 py-3 px-6 ">Ver Catálogo Completo</button>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="border border-gray-200">
            <div class="p-6 bg-background">
                <img src="https://placehold.co/600x400?text=Placeholder" alt="" class="w-full">
            </div>
            <div class="flex flex-col p-6 space-y-4">
                <h4 class="font-semibold"> Filtro de Aceite Sintetico Alto Flujo</h4>
                <p>
                    Máxima protección para motores de alto rendimiento bajo condiciones severas.
                </p>
                <button class="bg-blue-300 text-primary hover:bg-primary hover:text-white font-semibold py-2 px-6">
                    Cotizar Precio</button>
            </div>
        </div>

        <div class="border border-gray-200">
            <div class="p-6 bg-background">
                <img src="https://placehold.co/600x400?text=Placeholder" alt="" class="w-full">
            </div>
            <div class="flex flex-col p-6 space-y-4">
                <h4 class="font-semibold"> Pastillas de Freno Delanteras</h4>
                <p>
                    Pastillas de freno delanteras de alta calidad, diseñadas para ofrecer un frenado seguro, preciso y
                    confiable.
                </p>
                <button class="bg-blue-300 text-primary hover:bg-primary hover:text-white font-semibold py-2 px-6">
                    Cotizar Precio</button>
            </div>
        </div>

        <div class="border border-gray-200">
            <div class="p-6 bg-background">
                <img src="https://placehold.co/600x400?text=Placeholder" alt="" class="w-full">
            </div>
            <div class="flex flex-col p-6 space-y-4">
                <h4 class="font-semibold"> Batería Sellada 12V 75Ah CCA 650</h4>
                <p>
                    Arranque confiable incluso en condiciones térmicas extremas y alta demanda.
                </p>
                <button class="bg-blue-300 text-primary hover:bg-primary hover:text-white font-semibold py-2 px-6">
                    Cotizar Precio</button>
            </div>
        </div>
    </div>

</section>

<!-- Batería Sellada 12V 75Ah CCA 650 -->