<header class="bg-white flex h-16 container mx-auto items-center">
    <h2 class="text-primary font-black mx-4">Repuestos José Díaz</h2>
    <nav class="ml-auto">
        <ul class="hidden lg:flex space-x-12 text-primary items-center">
            <li>Sucursales</li>
            <li>Servicio Automotriz</li>
            <!-- <li>Repuestos</li> -->
            <li class="py-2 px-4 bg-primary text-white font-bold flex space-x-2">
                <img src="icons/whatsapp.png" alt="" class="w-6">
                <span>Contáctanos</span>
            </li>
        </ul>
    </nav>
</header>