<header class="bg-white flex h-20 lg:container mx-6 lg:mx-auto items-center justify-center  font-ibm">
    <img src="logo.webp" alt="" class="w-40 ">
    <nav class="ml-auto hidden lg:flex">
        <ul class=" lg:flex space-x-12 text-primary/80 items-center">
            <li class="hover:text-blue-600  hover:underline underline-offset-10 cursor-pointer">Sucursales</li>
            <li class="hover:text-blue-600 hover:underline underline-offset-10 cursor-pointer">Servicio Automotriz</li>
            <!-- <li>Repuestos</li> -->
            <li class="py-2 px-4 bg-primary text-white  flex space-x-2 hover:bg-blue-400 cursor-pointer uppercase">
                <img src="icons/whatsapp.png" alt="" class="w-6">
                <span>Contáctanos</span>
            </li>
        </ul>
    </nav>
</header>