<section class="bg-background p-6 md:px-12">
    <div class="bg-white border border-gray-400 flex flex-col space-y-4 md:flex-col p-4">
        <h2 class="text-primary font-bold">Busqueda rápida de repuestos</h2>
        <div class="flex flex-col md:flex-row space-y-6 md:space-x-4 md:items-center">
            <div class="flex flex-col md:flex-col flex-1">
                <label for="" class="font-mono">Marca / Modelo / Año</label>
                <input type="text" placeholder="Ej: Volkswagen Golf 2016" class="border py-2 px-2">
            </div>

            <div class="flex flex-col md:flex-col flex-1">

                <label for="" class="font-mono">Repuesto o N° de parte</label>
                <input type="text" placeholder="Ej: Filtro de aceite, 06L115562B" class="border py-2 px-2">

            </div>
            <button class="bg-primary text-white h-10 px-8 md:w-48">Buscar</button>
        </div>



    </div>

</section>