<footer class="bg-primary ">
    <div class="grid grid-cols-1 md:grid-cols-3 text-white gap-6 p-6">
        <div class="grid gap-6">
            <h2 class="uppercase text-xl font-bold">Repuestos José Díaz</h2>
            <p class="max-w-prose text-zinc-300">
                Expertos en repuestos y servicio automotriz, brindando confianza y calidad a nuestros clientes con
                asesoría
                especializada.
            </p>
            <p>info@repuestosjosediaz.cl</p>
            <p>+569 74960034</p>
        </div>

        <div class="space-y-2">
            <h2 class="uppercase font-mono">Enlaces Rapidos</h2>
            <ul class="space-y-4 text-zinc-300">
                <li>Ubicaciones</li>
                <li>Taller Mecanico</li>
                <li>Catalogo de partes</li>
                <li>Terminos y Condiciones</li>
            </ul>
        </div>

        <div>
            <h2 class="uppercase font-mono">Horario de atención</h2>
            <div class="flex justify-between text-zinc-300">
                <p>Lunes - Viernes</p>
                <p>09:00 - 18:30</p>
            </div>
        </div>
    </div>


    <div class="bg-blue-950  px-8 text-zinc-400 text-center font-semibold py-2">
        © 2024 Repuestos José Díaz. Expertos en Repuestos y Servicio Automotriz.
    </div>
</footer>