<footer class="bg-primary grid grid-cols-1 md:grid-cols-3 text-white">
    <div>
        <h2 class="uppercase">Repuestos José Días</h2>
        <p>
            Expertos en repuestos y servicio automotriz, brindando confianza y calidad a nuestros clientes con asesoría
            especializada.
        </p>
        <p>info@repuestosjosediaz.cl</p>
        <p>+569 74960034</p>
    </div>

    <div>
        <h2 class="uppercase">Enlaces Rapidos</h2>
        <ul>
            <li>Ubicaciones</li>
            <li>Taller Mecanico</li>
            <li>Catalogo de partes</li>
            <li>Terminos y Condiciones</li>
        </ul>
    </div>

    <div>
        <h2 class="uppercase">Horario de atención</h2>
        <div class="flex justify-between">
            <p>Lunes - Viernes</p>
            <p>09:00 - 18:30</p>
        </div>
    </div>
</footer>