<div>
    <div class="flex justify-between border-b">
        <h3>Filtros</h3>
        <span>Limpiar</span>
    </div>

    <div>
        <form [formGroup]="autoForm" class="form-container">

            <div class="form-group">
                <label for="marca">Marca:</label>
                <select id="marca" formControlName="marca">
                    <option value="">-- Selecciona una marca --</option>
                    @for (marca of marcas; track marca) {
                    <option [value]="marca">{{ marca }}</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="modelo">Modelo:</label>
                <select id="modelo" formControlName="modelo">
                    <option value="">
                        {{ autoForm.get('marca')?.value ? '-- Selecciona un modelo --' : '-- Primero selecciona una
                        marca --' }}
                    </option>
                    @for (modelo of modelos; track modelo) {
                    <option [value]="modelo">{{ modelo }}</option>
                    }
                </select>
            </div>

        </form>

        <div>
            <label>
                <input type="checkbox" value="Aceites" (change)="toggleCategory('Aceites')">
                Aceites
            </label>

            <label>
                <input type="checkbox" value="Filtros" (change)="toggleCategory('Filtros')">
                Filtros
            </label>

            <label>
                <input type="checkbox" value="Baterías" (change)="toggleCategory('Baterías')">
                Baterías
            </label>
        </div>

    </div>
</div>