@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Rajdhani:wght@300;400;500;600;700&family=Zen+Dots&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #002a5c;
    --color-background: #f7f9ff;
    --color-background-secondary: #f1f4f9;

    --font-ibm: IBM Plex Sans Arabic, sans-serif;

    --font-title: Zen Dots, sans-serif;
    --font-subtitle: Rajdhani, sans-serif;
}