<section class="bg-background p-6 md:px-12 space-y-2 py-15">
  <h3 class="font-mono text-primary text-center uppercase font-semibold">Nuestros Servicios</h3>
  <h2 class="text-center font-bold text-4xl py-8 font-title">Lo que ofrecemos</h2>
  <p class="text-gray-600 mx-auto text-center max-w-prose">
    Infraestructura y conocimiento técnico orientados a brindar soluciones automotrices definitivas
    con los más altos estándares de la industria.
  </p>
  <div
    class="flex flex-wrap justify-center lg:justify-center gap-6 lg:max-w-8xl mx-auto space-y-6 lg:space-y-0 lg:space-x-8 lg:items-center lg:place-items-center py-8"
  >
    <div class="flex flex-col p-8 space-y-4 lg:max-w-100 lg:h-80 lg:border-r border-r-gray-400">
      <div class="p-4 bg-primary h-16 w-16 flex items-center justify-center rounded-2xl">
        <span class="mt-1 material-symbols-outlined text-white mx-auto rounded-lg">
          precision_manufacturing
        </span>
      </div>
      <p class="max-w-60 md:max-w-prose text-2xl font-semibold font-subtitle">
        Repuestos originales y alternativos para todas las marcas
      </p>
      <p class="font-ibm text-lg text-gray-600 max-w-prose">
        Garantizamos la trazabilidad y calidad de cada componente, asegurando que cumplan con las
        especificaciones técnicas del fabricante original.
      </p>
    </div>

    <div class="flex flex-col p-8 space-y-4 lg:max-w-100 lg:h-80 lg:border-r border-r-gray-400">
      <div class="p-4 bg-primary h-16 w-16 flex items-center justify-center rounded-2xl">
        <span class="mt-1 material-symbols-outlined text-white mx-auto rounded-lg"> handyman </span>
      </div>
      <p class="max-w-60 md:max-w-prose text-2xl font-semibold font-subtitle">
        Accesorios y componentes de mantención
      </p>

      <p class="font-ibm text-lg text-gray-600 max-w-prose">
        Proveemos insumos de alta tecnología para el mantenimiento preventivo y correctivo,
        prolongando la vida útil de las flotas vehiculares.
      </p>
    </div>

    <div class="flex flex-col p-8 space-y-4 lg:max-w-100 lg:h-80">
      <div class="p-4 bg-primary h-16 w-16 flex items-center justify-center rounded-2xl">
        <span class="mt-1 material-symbols-outlined text-white mx-auto rounded-lg">
          engineering
        </span>
      </div>
      <p class="max-w-60 md:max-w-prose text-2xl font-semibold font-subtitle">
        Atención personalizada y asesoría técnica
      </p>

      <p class="font-ibm text-lg text-gray-600 max-w-prose">
        Nuestro equipo técnico especializado brinda consultoría precisa, analizando requerimientos
        complejos para entregar la solución adecuada.
      </p>
    </div>
  </div>
</section>

<div class="bg-background-secondary p-6 md:px-12 grid grid-cols-1 lg:grid-cols-2 py-15">
  <div class="lg:p-4">
    <img src="branch1.webp" alt="" class="w-full lg:w-full object-cover rounded-2xl h-full" />
  </div>

  <div class="grid grid-cols-1 space-y-20 md:space-y-0 items-stretch gap-6">
    <h2 class="ml-4 font-bold text-4xl my-8 font-title">Por qué elegirnos</h2>
    <div class="space-y-6">
      <div class="flex space-x-2">
        <div class="p-2">
          <span
            class="mt-1 material-symbols-outlined text-9xl bg-primary text-white h-10 w-10 p-2 flex justify-center text-center rounded-lg"
          >
            distance
          </span>
        </div>
        <div class="flex flex-col">
          <p class="font-semibold text-2xl p-2 font-subtitle">Cobertura Regional</p>
          <p class="font-ibm text-lg text-gray-600 max-w-prose p-2">
            Nuestras modernas instalaciones están diseñadas para optimizar la logística y asegurar
            una atención de primer nivel en toda la región.
          </p>
        </div>
      </div>

      <div class="flex space-x-2">
        <div class="p-2">
          <span
            class="mt-1 material-symbols-outlined text-9xl bg-primary text-white h-10 w-10 p-2 flex justify-center text-center rounded-lg"
          >
            inventory_2
          </span>
        </div>

        <div class="flex flex-col">
          <p class="font-semibold text-2xl p-2 font-subtitle">
            Stock Actualizado y variedad multimarca
          </p>
          <p class="font-ibm text-lg text-gray-600 max-w-prose p-2">
            Mantenemos un robusto ecosistema de abastecimiento que garantiza disponibilidad
            inmediata de repuestos para las marcas más exigentes del mercado.
          </p>
        </div>
      </div>

      <div class="flex space-x-2">
        <div class="p-2">
          <span
            class="mt-1 material-symbols-outlined text-9xl bg-primary text-white h-10 w-10 p-2 flex justify-center text-center rounded-lg"
          >
            verified
          </span>
        </div>
        <div class="flex flex-col">
          <p class="font-semibold text-2xl p-2 font-subtitle">
            Compromiso con la seguridad y rendimiento de tu vehículo
          </p>
          <p class="font-ibm text-lg text-gray-600 max-w-prose p-2">
            La seguridad es nuestro pilar fundamental. Cada producto que distribuimos está
            rigurosamente certificado para cumplir con los estándares globales de seguridad
            automotriz.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
