<section class="bg-background p-6 md:px-12 space-y-4 py-15 ">
    <h3 class="font-mono text-primary text-center uppercase font-semibold">Nuestros Servicios</h3>
    <h2 class="text-center font-bold text-4xl py-8">Lo que ofrecemos</h2>
    <div
        class="grid grid-cols-1 lg:grid-cols-3 space-y-16 lg:space-y-0 items-stretch lg:space-x-8 lg:items-center lg:place-items-center">
        <div class="flex flex-col p-8 border border-gray-300 rounded-lg bg-white space-y-4 lg:max-w-100 lg:h-80">
            <div class="p-4 bg-primary h-16 w-16 flex items-center justify-center rounded-2xl">
                <span class="mt-1 material-symbols-outlined  text-white mx-auto rounded-lg">
                    search
                </span>
            </div>
            <p class=" max-w-60 md:max-w-80 text-xl font-semibold">
                Repuestos originales y alternativos para todas las
                marcas
            </p>
            <p class="font-light">
                Contamos con un inventario exhaustivo para asegurar que encuentres exactamente lo que tu vehículo
                necesita.
            </p>
        </div>

        <div class="flex flex-col p-8 border border-gray-300 rounded-lg bg-white space-y-4 lg:max-w-100 lg:h-80">
            <div class="p-4 bg-primary h-16 w-16 flex items-center justify-center rounded-2xl">
                <span class="mt-1 material-symbols-outlined  text-white mx-auto rounded-lg">
                    search
                </span>
            </div>
            <p class=" max-w-60 md:max-w-80 text-xl font-semibold">
                Accesorios y componentes de mantención
            </p>

            <p class="font-light">
                Todo lo necesario para el cuidado preventivo y estético de tu automóvil en un solo lugar
            </p>
        </div>

        <div class="flex flex-col p-8 border border-gray-300 rounded-lg bg-white space-y-4 lg:max-w-100 lg:h-80">
            <div class="p-4 bg-primary h-16 w-16 flex items-center justify-center rounded-2xl">
                <span class="mt-1 material-symbols-outlined  text-white mx-auto rounded-lg">
                    search
                </span>
            </div>
            <p class=" max-w-60 md:max-w-80 text-xl font-semibold">
                Atención personalizada y asesoría técnica
            </p>

            <p class="font-light">
                Nuestro equipo de expertos está listo para guiarte en la elección correcta para tu seguridad.
            </p>
        </div>

    </div>





</section>

<div class="bg-background-secondary p-6 md:px-12 grid grid-cols-1 lg:grid-cols-2 py-15">
    <div class="lg:p-4">
        <img src="branch1.webp" alt="" class="w-full lg:w-full object-cover rounded-2xl h-full">
    </div>

    <div class="grid grid-cols-1 space-y-20 md:space-y-0 items-stretch gap-6">
        <h2 class="ml-4 font-bold text-5xl my-8 ">Por qué elegirnos</h2>
        <div class="space-y-6">
            <div class="flex space-x-2 ">
                <div class="p-2">
                    <span
                        class="mt-1 material-symbols-outlined text-9xl bg-primary text-white h-10 w-10 p-2  flex justify-center text-center rounded-lg">
                        search
                    </span>
                </div>
                <div class="flex flex-col">
                    <p class=" font-bold text-2xl p-2">Cobertura Regional</p>
                    <p class=" max-w-prose md:max-w-prose text-xl font-semibol font-light text-black p-2">
                        Presencia estratégica para estar siempre cerca de ti cuando más nos necesites
                    </p>
                </div>

            </div>

            <div class="flex  space-x-2 ">
                <div class="p-2">
                    <span
                        class="mt-1 material-symbols-outlined text-9xl bg-primary text-white h-10 w-10 p-2  flex justify-center text-center rounded-lg">
                        search
                    </span>
                </div>


                <div class="flex flex-col">
                    <p class="font-bold text-2xl  p-2">Stock Actualizado y variedad multimarca</p>
                    <p class=" max-w-prose md:max-w-prose text-xl font-semibol font-light text-black p-2">
                        Presencia estratégica para estar siempre cerca de ti cuando más nos necesites
                    </p>
                </div>

            </div>

            <div class="flex  space-x-2 ">
                <div class="p-2">
                    <span
                        class="mt-1 material-symbols-outlined text-9xl bg-primary text-white h-10 w-10 p-2  flex justify-center text-center rounded-lg">
                        search
                    </span>
                </div>
                <div class="flex flex-col">
                    <p class=" font-bold text-2xl p-2">Compromiso con la seguridad y rendimiento de tu vehículo</p>
                    <p class=" max-w-prose md:max-w-prose text-xl font-semibol font-light text-black p-2">
                        Presencia estratégica para estar siempre cerca de ti cuando más nos necesites
                    </p>
                </div>

            </div>
        </div>




    </div>
</div>